---
import { Image } from "astro:assets";
import asset_logo from "../assets/logo_clean.svg";

const {
  bgColor,
  cardTitle,
  cardText,
  buttonText,
  cardHref,
  buttonColor,
  hoverColor,
} = Astro.props;
---

<a
  class={`md:pt-0 mt-4 max-h-[350px] min-h-[350px] md:max-h-[400px] md:min-h-[400px]
    w-full max-w-[750px] rounded-lg ${bgColor} group relative`}
  href={cardHref}
>
  <div
    class="relative translate-y-[190%] text-center md:absolute md:left-0 md:top-0 md:m-8
      md:translate-y-0 md:text-left"
  >
    <p class="font-AreaInktrap text-xl font-bold text-desk-white md:text-3xl">
      {cardTitle}
    </p>
    <p class="text-xl tracking-tight text-desk-white md:text-3xl">
      <Fragment set:html={cardText} />
    </p>
  </div>
  <div
    class={`absolute bottom-0 md:left-0 inset-x-0 md:text-left text-center m-8 p-3 text-xs
      text-desk-white border-[1px] border-desk-gray-300/50 rounded-lg md:w-fit
      ${hoverColor} ${buttonColor} ease-in duration-100 leading-none`}
  >
    {buttonText}
  </div>
  <div
    class={`hidden md:block absolute bottom-0 md:right-0 md:text-left text-center m-8 p-3
      text-xs text-desk-white border-[1px] border-desk-gray-300/50 rounded-lg md:w-fit
      ${hoverColor} ${buttonColor} ease-in duration-100 leading-none`}
  >
    &nbsp; ⌘ &nbsp;
  </div>
  <div
    class={`absolute inset-x-0 mx-auto right-2 w-fit -translate-y-10 md:translate-y-0
      md:inset-x-auto md:absolute md:top-0 md:right-0 md:m-8`}
  >
    <Image
      src={asset_logo}
      alt="about_card_element_graphic"
      width={80}
      height={80}
    />
  </div>
</a>
