---
import { manifesto } from "../data/manifesto.ts";
import { workedWith } from "../data/workedWith.ts";
import { services } from "../data/services.ts";

import { Icon } from "astro-icon/components";

import DividerReveal from "../components/DividerReveal.astro";
---

<!-- manifesto -->
<div
  class="text-balanced mx-4 space-y-4 pb-10 text-2xl leading-[1.2] tracking-tighter
    text-desk-black antialiased md:hidden"
>
  <p class="text-reveal opacity-0">
    <strong>{manifesto.paragraphs[0].slice(0, 19)}</strong>{
      manifesto.paragraphs[0].slice(19)
    }
  </p>
  {
    manifesto.paragraphs
      .slice(1)
      .map((paragraph) => <p class="text-reveal opacity-0">{paragraph}</p>)
  }
  <div>
    <p class="text-reveal text-[22px] opacity-0">
      <strong
        >"{manifesto.quote.split(";")[0]};
        <br />&nbsp;{manifesto.quote.split(";")[1]}"</strong
      >
    </p>
    <p class="text-reveal pt-1 text-[22px] opacity-0">
      - {manifesto.quoteAuthor}
    </p>
  </div>
</div>

<!-- services -->
<div
  class="py-10 leading-none tracking-tighter text-desk-black antialiased md:hidden"
>
  <p class="text-reveal mx-4 mb-2 text-4xl font-bold opacity-0">Services</p>
  <DividerReveal />
  {
    services.map((item) => (
      <>
        <div>
          <p class="text-reveal mx-4 mt-6 text-sm uppercase text-desk-black/75 opacity-0">
            {item.title}
          </p>
          <ul class="capitalize">
            {item.types.map((type) => (
              <>
                <li
                  class="text-reveal mx-4 pb-[9px] pt-[15px] text-xl leading-none tracking-tight
                    opacity-0"
                >
                  {type}
                </li>
                <DividerReveal />
              </>
            ))}
          </ul>
        </div>
      </>
    ))
  }
</div>

<!-- @TODO: decide to use logo or not -->
<!-- clients -->
<div
  class="pb-20 pt-10 leading-none tracking-tighter text-desk-black antialiased md:hidden"
>
  <p
    class="text-reveal mx-4 mb-2 text-4xl font-bold leading-none tracking-tight opacity-0"
  >
    Clients
  </p>
  <DividerReveal />
  <div>
    <p class="text-reveal mx-4 mt-6 text-sm text-desk-black/75 opacity-0">
      Curated:
    </p>
    {
      workedWith.map((item) => (
        <div class="px-4">
          <div class="text-reveal mx-auto w-full px-10 pb-4 pt-8 opacity-0">
            <Icon name={item.iconName} class="h-auto w-full text-desk-gray-700" />
          </div>
          <p class="text-reveal text-md pb-[9px] pt-[15px] leading-none tracking-tight opacity-0">
            {item.name}
          </p>
          <DividerReveal />
        </div>
      ))
    }
  </div>
</div>
