---
const { image, title, sector, year } = Astro.props;
import { Image } from "astro:assets";
---

<button class="work-modal space-y-3 cursor-pointer">
  <figure class="text-reveal opacity-0 aspect-square rounded-xl bg-desk-gray-300/80">
    <Image
      src={image}
      alt={title}
      class="h-full w-full rounded-xl object-cover text-reveal opacity-0"
      width={800}
      height={800}
      loading="eager"
    />
  </figure>

  <div
    class="text-reveal opacity-0 flex justify-between text-xl tracking-tight md:text-base lg:text-lg"
  >
    <div>
      <p class="text-left font-bold leading-none text-desk-black/70">{title}</p>
      <p class="text-left capitalize text-desk-gray-700/70">{sector}</p>
    </div>
    <p class="text-right font-bold leading-none text-desk-black/70">{year}</p>
  </div>
</button>
