---
const { image, title, description, year, modalDescription, modalServices } =
  Astro.props;
import { Image } from "astro:assets";
import Dialog from "./Dialog.astro";
---

<div>
  <label for={title} class="cursor-pointer">
    <article class="space-y-3 opacity-0 animate-slidein [--delay:500ms]">
      <figure class="bg-desk-gray-300/80 aspect-square rounded-lg">
        <Image
          src={image}
          alt={title}
          class="object-cover w-full h-full rounded-lg"
          width={800}
          height={800}
          loading="eager"
        />
      </figure>

      <div
        class="flex justify-between tracking-tight text-sm md:text-base lg:text-lg"
      >
        <div>
          <h3 class="text-desk-black/70 font-bold leading-none">{title}</h3>
          <p class="text-desk-gray-500 capitalize">{description}</p>
        </div>
        <p class="text-desk-black/70 font-bold leading-none">{year}</p>
      </div>
    </article>
  </label>

  <Dialog
    modalTitle={title}
    modalDescription={modalDescription}
    modalServices={modalServices}
  />
</div>
