---
const { modalTitle, modalDescription, modalServices } = Astro.props;
---

<!-- toggle -->
<input
  type="checkbox"
  id={modalTitle}
  class="peer fixed appearance-none opacity-0"
/>

<!-- modal -->
<label
  for={modalTitle}
  class="pointer-events-none invisible fixed inset-0 flex cursor-pointer items-center
    justify-center  bg-desk-gray-300/80 opacity-0
    transition-all ease-[cubic-bezier(0.16, 1, 0.3, 1)] duration-150
    peer-checked:opacity-100 peer-checked:pointer-events-auto peer-checked:visible
    peer-checked:[&>*]:translate-y-0 peer-checked:[&>*]:scale-100 z-[100]"
>
  <!-- modal box -->
  <label
    class="max-h-[300px] h-fit md:max-w-[400px] max-w-[350px] scale-96
       rounded-lg bg-desk-white p-8 text-desk-black
      shadow-sm transtion tracking-tight"
    for=""
  >
    <h3 class="text-2xl font-bold leading-none font-AreaInktrap">
      {modalTitle}
    </h3>
    <ul class="pt-2 text-desk-gray-700/80 text-sm font-AreaNormal capitalize">
      {modalServices.split(",").map((service) => <li>{service}</li>)}
    </ul>
    <p class="pt-4 text-sm font-AreaNormal text-balance tracking-normal">
      {modalDescription}
    </p>
  </label>
</label>
