---
const { modalTitle, modalDescription, modalServices } = Astro.props;
---

<!-- toggle -->
<input
  type="checkbox"
  id={modalTitle}
  class="peer fixed appearance-none opacity-0"
/>

<!-- modal -->
<label
  for={modalTitle}
  class="ease-[cubic-bezier(0.16, 1, 0.3, 1)] pointer-events-none invisible fixed inset-0
    z-[100] flex cursor-pointer items-center justify-center overflow-hidden
    overscroll-contain bg-desk-black/50 opacity-0 transition-all duration-150
    peer-checked:pointer-events-auto peer-checked:visible peer-checked:opacity-100
    peer-checked:[&>*]:translate-y-0 peer-checked:[&>*]:scale-100"
>
  <!-- modal box -->
  <label
    class="scale-96 transition h-fit max-h-[300px] max-w-[350px] overflow-y-auto
      overscroll-contain rounded-lg bg-desk-white p-8 tracking-tight text-desk-black
      shadow-sm md:max-w-[400px]"
    for=""
  >
    <h3 class="font-AreaInktrap text-2xl font-bold leading-none">
      {modalTitle}
    </h3>
    <ul class="pt-2 font-AreaNormal text-sm capitalize text-desk-gray-700/80">
      {modalServices.split(",").map((service) => <li>{service}</li>)}
    </ul>
    <p class="text-balance pt-4 font-AreaNormal text-sm tracking-normal">
      {modalDescription}
    </p>
  </label>
</label>
