---
import { services } from "../data/services";
import { manifesto } from "../data/manifesto";
import Divider from "./Divider.astro";
---

<Divider />
<div>
  <div
    class="mx-4 my-4 grid grid-cols-1 md:grid-cols-2 antialiased font-AreaInktrap"
  >
    <div></div>
    <div class="space-y-8">
      <div
        class="space-y-4 text-pretty tracking-wide font-bold font-AreaInktrap"
      >
        <p
          class="text-2xl tracking-wide after:content-[''] after:block after:h-px after:w-full
            after:bg-desk-black"
        >
          Manifesto
        </p>
        <p class="text-md">
          <i>{manifesto.p1.slice(0, 19)}</i>{manifesto.p1.slice(19)}
        </p>
        {['p2', 'p3', 'p4'].map((p) => (
          <p class="text-md">{manifesto[p]}</p>
        ))}
      </div>
      <div class="space-y-4">
        <p
          class="font-bold text-2xl tracking-wide after:content-[''] after:block after:h-[0.5px]
            after:w-full after:bg-desk-black"
        >
          Services
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <p class="text-sm">{services[0].title}</p>
            <ul
              class="text-md divide-y divide-desk-black font-bold leading-none tracking-wider"
            >
              {
                services[0].types.map((type) => (
                  <li class="py-3 capitalize">{type}</li>
                ))
              }
            </ul>
          </div>
          <div>
            <p class="text-sm">{services[1].title}</p>
            <ul
              class="text-md divide-y divide-desk-black font-bold leading-none tracking-wider"
            >
              {
                services[1].types.map((type) => (
                  <li class="py-3 capitalize">{type}</li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
