---
import { manifesto } from "../data/manifesto.ts";
import { services } from "../data/services.ts";
import { workedWith } from "../data/workedWith.ts";
import SlideContentLayout from "../layouts/SlideContentLayout.astro";
---

<SlideContentLayout
  id="first-card-content"
  title={manifesto.title}
  spaceY="space-y-6"
>
  <p>
    <em>{manifesto.paragraphs[0].slice(0, 19)}</em>{
      manifesto.paragraphs[0].slice(19)
    }
  </p>
  {manifesto.paragraphs.slice(1).map((paragraph) => <p>{paragraph}</p>)}
  <p>
    <strong
      >"{manifesto.quote.split(";")[0]};
      <br />{manifesto.quote.split(";")[1]}"</strong
    >
    <br />- {manifesto.quoteAuthor}
  </p>
</SlideContentLayout>
<SlideContentLayout
  id="second-card-content"
  title="Clients"
  spaceY="space-y-3"
>
  {
    workedWith.map((item) => (
      <>
        <p>{item.name}</p>
        <div class="h-[0.5px] bg-desk-white" />
      </>
    ))
  }
</SlideContentLayout>
<SlideContentLayout
  id="third-card-content"
  title="Services"
  spaceY="space-y-3"
>
  {
    services.map((item, index, array) => (
      <>
        <p class={`font-bold ${index === array.length - 1 ? "pt-6" : ""}`}>
          {item.title}
        </p>
        {item.types.map((type) => (
          <>
            <p class="capitalize">{type}</p>
            <div class="h-[0.5px] bg-desk-white" />
          </>
        ))}
      </>
    ))
  }
</SlideContentLayout>
